@tailwind base;
@tailwind components;
@tailwind utilities;

/* .star-svg {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  touch-action: none;
} */
